name: Deploy to Registries

on:
  push:
    branches:
      - 'main'
    tags:
      - '*'

jobs:
  push_to_registry:
    name: Push Docker image to Registries
    env:
      IMAGE_NAME: "operator-jvm"
      IMAGE_NAME_CONFIG_VALIDATOR: "config-validator-jvm"
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Prepare
        id: prep
        run: |
          VERSION=latest
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          fi
          echo ::set-output name=version::${VERSION}
          echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.CI_DOCKERHUB_USERNAME }}
          password: ${{ secrets.CI_DOCKERHUB_TOKEN }}
      - name: Login to Quay.io
        uses: docker/login-action@v1
        with:
          registry: quay.io
          username: ${{ secrets.CI_QUAY_USERNAME }}
          password: ${{ secrets.CI_QUAY_TOKEN }}

      - name: Build and push Config Validator
        id: docker_build_config_validator
        uses: docker/build-push-action@v2
        with:
          context: config-validator
          file: ./config-validator/src/main/docker/Dockerfile.jvm
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            quay.io/${{ secrets.REGISTRY_NAMESPACE }}/${{ env.IMAGE_NAME_CONFIG_VALIDATOR }}:${{ steps.prep.outputs.version }}
            ${{ secrets.REGISTRY_NAMESPACE }}/${{ env.IMAGE_NAME_CONFIG_VALIDATOR }}:${{ steps.prep.outputs.version }}
      - name: Image digest Config Validator
        run: echo ${{ steps.docker_build_config_validator.outputs.digest }}

      - name: Build and push Service
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: service
          file: ./service/src/main/docker/Dockerfile.jvm
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            quay.io/${{ secrets.REGISTRY_NAMESPACE }}/${{ env.IMAGE_NAME }}:${{ steps.prep.outputs.version }}
            ${{ secrets.REGISTRY_NAMESPACE }}/${{ env.IMAGE_NAME }}:${{ steps.prep.outputs.version }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
